BODY {
  background-color: #ccc;
  margin-top: 0px; 
}

#komentari P {
  font-size: 10pt;
}

#kritike P {
  font-size: 10pt;
}

#topbar { 
  height: 40px;
  background-image: url(../images/bkg.png); 
  text-valign: center; 
  padding-top: 5px;
  padding-left: 20px;
}

#main {
  background-color: white;
  border: 1px solid white;
  width: 750px;
}

#sitepath {
  font-size: 10pt;
/*  color: gray;*/
  color: white;
}

#sitepath A  {
  text-decoration: None;
/*  color: gray; */
  color: white;
}

#sitepath A:hover  {
  text-decoration: none;
  color: orange;
}


#content H1 {
  margin-top: 0px;
}

#menu A {
  text-decoration: None;
  color: black;
}

#menu A:hover {
  text-decoration: underline;
  color: gray;
}

#login { 
/*  color: gray; */
  color: white;
  font-size: 10pt;
}

#login A { 
  text-decoration: None;
  color: white;
}

#login A:hover { 
  text-decoration: None;
  color: orange; 
}


BODY, TD, P, SPAN {
  font-family:  Helvetica, Arial, sans-serif;
  font-size: 12pt;
}

A.editorlink {
  text-decoration: None;
  color: blue;
}

A:hover.editorlink {
  background-color: blue;
  color: white;
}

.embededitortext {
  width: 90%;
  height: 400px;
  background-color: #f9f5ad;
  border: 1px solid gray;
}

.embededitortitle {
  width: 90%;
  background-color: #f9f5ad;
  border: 1px solid gray;
}

.mainmenu
{
  margin-top: 0px;
  margin-left: 20px;
  padding-left: 0;
  list-style: none;
}

.mainmenu li
{
  padding-left: 10px;
  background-image: url(../images/arrow.gif);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

A.nonexistingdocument { 
  color: red;
}


/* najnovije */

body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: small;
}

a:link {
  color: #CC0000; 
  text-decoration: none;
}

a:visited {
  color: #CC0000; 
  text-decoration: none;
}

a:hover {
  color: #CC0000;  
  text-decoration: underline;
}

.code {
  background: #ffffdd;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 0 10px 0 10px;
}

#sidebar a link{
  color: #c00;  
  text-decoration: none;
}

#sidebar a:hover {
  color: #c00;  
  text-decoration: underline;
}

#primjeri a:link {
  color: #cc0000;  
  text-decoration: none;
}


#heading {
  background: #aaa url(images/bg-header.gif) no-repeat;
  width: 750px;
  height: 80px;
/*  height: 117px; */

  margin: 0 auto;
  color: #FFF;
  text-align: left;
  border-top: 6px solid #1c597c;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 1px solid #9AAB7D;
}

#header {
  padding-top: 20px;
  padding-right: 20px;
/*  padding-left: 540px; */
  float: right;
}

/*
h1 {
  font: 24px "Trebuchet MS", Georgia, serif;
  margin: 0;
}

h1 a:link, h1 a:visited {
  text-decoration: none;
  color: #FFF;
}

h2 {
  font: italic normal 14px "Trebuchet MS", Georgia, serif;
  margin: 0;
}

h3 {
  margin: 1em 0 .2em;
  font: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 1.1em;
  color: #E6680C;
  background: url(images/post-icon.gif) no-repeat 0 50%;
  padding-left: 10px;
}

*/


#sidebar h3 {
  font-size: 1.1em;
  margin: 1em 0 .2em;
  font: "Lucida Grande", Verdana, Arial, sans-serif;
  font-size: 1.1em;
/*  color: #E6680C; */
  color: black;

  padding-left: 10px;
}

/*


h4 {
  font: 14px Georgia, serif;
  margin: 2px;
  font-weight: bold;
  color: #6D6D74;
}

h3 a:link, h3 a:visited {
  text-decoration: none;
  color: #E6680C;
}

*/

#content {
  background: #fff url(images/bg-content.gif) repeat-y;
  margin: 0 auto;
  width: 750px;
  text-align: left;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: 8px solid #1c597c;
  margin-bottom: 40px;
  line-height: 1.5em;
}

#navigation {
  padding: 15px;
}

#minitabs {
  margin: 0;
  padding: 20px 0 20px 20px;
  border-bottom: 1px solid #FFF;
  background: #9FA19E;
  text-transform: uppercase;
}

#minitabs li {
  margin: 0; 
  padding: 0;
  display: inline;
  list-style-type: none;
}

#minitabs a:link, #minitabs a:visited {
  float: left;
  font-size: 11px;
  line-height: 14px;
  font-weight: bold;
  margin: 0 10px 4px 10px;
  padding-bottom: 2px;
  text-decoration: none;
  color: #FFF;
}

li.current_page_item a, #minitabs a:hover {
  background: #C9E184;
}

#main {
	float: left;
	padding: 10px 30px;
/*	padding: 50px 30px; */

	width: 470px;
}

#mainsystem {
	float: left;
	padding: 50px 30px;
	width: 700px;
}


#sidebar {

	width: 200px;
	padding: 0 8px 0 8px;
	margin: 20px 0 70px 500px;

	voice-family: "\"}\"";
	voice-family:inherit;
	margin: 20px 0 70px 530px;


}

#sidebar ul {
	margin-top: 1px;
	padding-left: 6px;
	margin: 0;
	list-style-type: none;
}

#sidebar li {
        background-image: url(../images/arrow.gif) no-repeat;
/*	background: url(images/bullet.gif) no-repeat 0 5px; */
	padding-left: 18px;
}

#footer {
	clear: both;
	background: white;
	text-align: center;
	color: #475915;
	padding: 5px;
	font-size: 9px;
}

#footer p {
	margin: 10px;
}

#footer a:link, #footer a:visited { 
	color: #37306a;
}

.meta {
	color: #6D6D74;
	font-size: 11px;
	margin: 0;
}

.entry {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

blockquote {
	border-left: 2px solid #6D6D74;
	padding-left: 5px;
}

.commentbox {
	border: 1px solid #f0f0f0;
	margin: 5px 2px;
	padding: 5px;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	text-align: center;
}

#navcontainer {
  background-color:  #131474;
  /*  background: url(images/bg-nav.gif) no-repeat; */
/*  height:25px; */
  border-bottom: 1px solid #8AC826;
}


#navcontainer ul {
  text-align: center;
  padding:0;
  margin:0;
  color: #475915;
  /* height:30px; */
  font-family: Verdana, Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;
}

#navcontainer ul li {
  float:left;
  padding:0;
  width:100px;
  list-style-type:none;
  background-color: #D9F196;
  /*height:30px; */
}

#navcontainer ul li a {
  float:left;
  padding:5px 0 5px 0;
  color: #475915;
  text-decoration:none;
  width:100%;
  margin: 0;
}

#navcontainer ul li a:hover {
  background-color:#F2FCD6;
  color: #000;
  width:100%;
}




#navcontainer2 {
  background: url(images/bg-nav.gif) no-repeat;
  padding: 0;
  height: 30px;
}

#navcontainer2 ul {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

#navcontainer2 ul li {
  display: block;
  float: left;
  text-align: center;
  padding: 0;
  margin: 0;
}

#navcontainer2 ul li a {
  background: #fff;
  width: 78px;
  height: 30px;
  
  border-left: 1px solid #f5d7b4;
  
  border-right: none;
  padding: 0;
  color: #f5d7b4;
  text-decoration: none;
  display: block;
  text-align: center;
  font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
}

#navcontainer2 ul li a:hover {
  color: #930;
  background: #f5d7b4;
}

#navcontainer2 a:active2 {
  background: #c60;
  color: #fff;
}

#navcontainer2 li#active2 a {
  background: #c60;
  border: 1px solid #c60;
  color: #fff;
}



#comment P {
 font-size: 8pt;
 color: gray;
} 


#comment A {
 font-size: 8pt;
 color: gray;
} 

#comment DIV {
 font-size: 8pt;
 color: gray;
} 


#historyshow .panel {
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.historybar {
  font-size: 6pt;
}

#historyshow input {
  margin-right: 5px;
}

/* changes */


#changes {

}

#changes .panel {
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#changes .diffold {
  background-color: yellow;

}


#changes .diffnew {
  background-color: green;
}

/* search */

.search_selected {
 background-color: #93b2dd;
 font-weight: bold;
}

.search_notselected {
 font-weight: normal;
 background-color: #e5e5e5;
}

.search_tab_link {
 text-decoration: none;
 color: #003366;
}

/* HISTORY */

#history {

  margin-bottom: 20px;
}

#history .panel {
/*  border: 1px solid black; */

}

#history h1 {
  color: red;
}

/* HISTORY SHOW */

#historyshow {

}

#historyshow .panel {
  border: 1px solid black;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.historybar {
  font-size: 6pt;
}

#historyshow input {
  margin-right: 5px;
}



#attachmore .uploadattachmentodd { 
  

}


#attachmore .uploadattachmenteven { 
  border-top: 1px solid #c0c0c0;
  margin-top: 10px;

  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 10px;
}


#embedpreview { 
  width: 450px;
  height: 400px;
}


#main P, DIV {
 font-size: 12px;
}

